@import url("//hello.myfonts.net/count/3aa805");
@font-face {
  font-family: 'Eina01-Regular';
  src: url("webfonts/3AA805_1_0.eot");
  src: url("webfonts/3AA805_1_0.eot?#iefix") format('embedded-opentype'),url('webfonts/3AA805_1_0.woff2') format('woff2'),url('webfonts/3AA805_1_0.woff') format('woff'),url('webfonts/3AA805_1_0.ttf') format('truetype');
}