* {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::after,
::before {
  box-sizing: border-box; }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::after,
::before {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 4 */
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0; }

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none; }

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse; }

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0; }

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */ }

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button; }

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */ }

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible; }

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none; }

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */ }

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0; }

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none; }

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block; }

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
[tabindex],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */ }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed; }

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden] {
  display: initial; }

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: Roboto;
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0; }

ol,
ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

ol li,
ul li {
  line-height: 1.5rem; }

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0; }

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: 'Roboto', sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem; }

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem; }

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 1rem; }

h3 {
  font-size: 1.414rem; }

h4 {
  font-size: 16px;
  color: #878A8F;
  margin: 0; }

h5 {
  font-size: 0.4713333333333333rem; }

h6 {
  font-size: 0.3535rem; }

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0;
  border-collapse: collapse; }

table td,
table th {
  padding: 0;
  line-height: 33px; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug the block above you */
.hug {
  margin-top: 0; }

body {
  color: #2a2b2d;
  padding-top: 6rem; }
  @media (max-width: 48rem) {
    body {
      padding-top: 6rem; } }

.wrap {
  max-width: 67.5em;
  margin: 0 auto; }
  @media (max-width: 72rem) {
    .wrap {
      padding: 0; } }
  .wrap.noPad {
    padding: 0; }

a {
  color: #547A98; }
  a:hover {
    color: #03182A; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.pad__both {
  padding-left: 2rem;
  padding-right: 2rem; }
  @media (max-width: 48rem) {
    .pad__both {
      padding-left: 1rem;
      padding-right: 1rem; } }

.pad__right {
  padding-right: 2rem; }
  @media (max-width: 48rem) {
    .pad__right {
      padding-right: 1rem; } }

.pad__left {
  padding-left: 2rem; }
  @media (max-width: 48rem) {
    .pad__left {
      padding-left: 1rem; } }

.no {
  margin: 0; }

.header {
  height: 6rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  .header__bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .header__bg:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      content: "";
      transform: scale(2);
      filter: blur(10px) brightness(150%);
      background: rgba(255, 255, 255, 0.95);
      z-index: -1; }
  .header__wrap {
    display: flex;
    width: 100%; }
  .header__mobile {
    display: none; }
    @media (max-width: 72rem) {
      .header__mobile {
        display: block; } }
  .header__logo {
    width: 10.5rem;
    min-width: 10.5rem;
    flex-grow: 1;
    text-decoration: none;
    z-index: 100;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 4em;
    height: 6rem;
    margin-left: 0; }
    @media (max-width: 72rem) {
      .header__logo {
        margin-left: 0; } }
    @media (max-width: 48rem) {
      .header__logo {
        background-image: url("images/logo.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: auto 2.5em; } }
  .header__nav {
    flex-grow: 1;
    padding-left: 1em; }
    @media (max-width: 72rem) {
      .header__nav {
        display: none; } }
    .header__nav ul {
      display: flex;
      padding: 0;
      margin: 0; }
      .header__nav ul li {
        display: block;
        position: relative; }
        .header__nav ul li a {
          line-height: 6rem;
          color: #547A98;
          display: block;
          text-decoration: none;
          padding: 0 1em;
          font-size: 1rem;
          font-weight: bold;
          white-space: nowrap; }
          .header__nav ul li a:after {
            position: absolute;
            display: block;
            content: "";
            width: 0.5rem;
            height: 1.5rem;
            margin-top: 2.25rem;
            background-size: contain;
            background-position: center center;
            background-image: url("images/chevron-down.svg");
            background-repeat: no-repeat;
            top: 0;
            right: 0.1em; }
          .header__nav ul li a:hover {
            color: #03182A; }
        .header__nav ul li > ul {
          display: none;
          position: absolute;
          background: #FFFFFF;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          padding: 1rem 0;
          top: 5rem;
          min-width: 10rem; }
          .header__nav ul li > ul li {
            height: 1.5em;
            line-height: 1.5em; }
            .header__nav ul li > ul li a {
              line-height: 1.5em;
              color: #3B464F;
              font-weight: normal;
              font-size: 0.9em;
              border-left: 3px solid #fff; }
              .header__nav ul li > ul li a:after {
                display: none; }
        .header__nav ul li:hover {
          color: #03182A; }
          .header__nav ul li:hover > a {
            color: #03182A; }
          .header__nav ul li:hover > ul {
            display: block; }
            .header__nav ul li:hover > ul li a:hover {
              border-left: 3px solid #03182A; }
  .header__cart {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 2rem; }
    @media (max-width: 48rem) {
      .header__cart {
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 1rem;
        max-width: 5rem; } }
    .header__cart .basket {
      position: relative;
      margin-top: 2rem;
      height: 2rem;
      width: 2rem;
      display: flex;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("images/cart.svg"); }
      @media (max-width: 48rem) {
        .header__cart .basket {
          margin-top: 1.25rem; } }
      .header__cart .basket__totals {
        line-height: 6rem;
        font-weight: bold;
        margin-right: 1rem;
        white-space: nowrap; }
        @media (max-width: 48rem) {
          .header__cart .basket__totals {
            margin-right: 0;
            line-height: 2rem;
            text-align: right; } }
      .header__cart .basket span {
        background: #547A98;
        position: absolute;
        top: -.5em;
        right: -.5em;
        font-weight: bold;
        text-align: center;
        color: #fff;
        border-radius: 1.25rem;
        height: 1.25rem;
        width: 1.25rem;
        line-height: 1rem;
        font-size: 0.5em;
        border: 2px solid white; }

.hamburger {
  width: 60px;
  height: 40px;
  position: relative;
  margin: 28px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-left: 1rem;
  transform: scale(0.5); }
  .hamburger span {
    display: block;
    position: absolute;
    height: 8px;
    width: 50%;
    background: #547A98;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out; }
    .hamburger span:nth-child(even) {
      left: 50%;
      border-radius: 0 8px 8px 0; }
    .hamburger span:nth-child(odd) {
      left: 0;
      border-radius: 8px 0 0 8px; }
    .hamburger span:nth-child(1), .hamburger span:nth-child(2) {
      top: 0; }
    .hamburger span:nth-child(3), .hamburger span:nth-child(4) {
      top: 16px; }
    .hamburger span:nth-child(5), .hamburger span:nth-child(6) {
      top: 32px; }
  .hamburger.open span:nth-child(1),
  .hamburger.open span:nth-child(6) {
    transform: rotate(45deg); }
  .hamburger.open span:nth-child(2),
  .hamburger.open span:nth-child(5) {
    transform: rotate(-45deg); }
  .hamburger.open span:nth-child(1) {
    left: 5px;
    top: 7px; }
  .hamburger.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px; }
  .hamburger.open span:nth-child(3) {
    left: -50%;
    opacity: 0; }
  .hamburger.open span:nth-child(4) {
    left: 100%;
    opacity: 0; }
  .hamburger.open span:nth-child(5) {
    left: 5px;
    top: 28px; }
  .hamburger.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 28px; }

.hero {
  height: 75vh;
  background: RGBA(50, 55, 55, 1);
  z-index: 10;
  position: relative;
  overflow: hidden; }
  @media (max-width: 72rem) {
    .hero {
      height: 30em; } }
  @media (max-width: 48rem) {
    .hero {
      height: 20em; } }
  .hero .item {
    height: 75vh;
    position: relative;
    width: 100%;
    display: block;
    background-color: #F9F9F9;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover; }
    @media (max-width: 72rem) {
      .hero .item {
        height: 30em; } }
    @media (max-width: 48rem) {
      .hero .item {
        height: 20em; } }
    .hero .item h4 {
      margin: 0;
      font-size: 4rem;
      line-height: 5rem;
      padding: 2rem;
      color: #fff; }
  .hero .owl-nav {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 3rem;
    color: #fff; }
    .hero .owl-nav button {
      margin-left: 1rem; }

.article {
  position: relative;
  background: #F9F9F9; }
  .article.product {
    background-color: #fff; }
  .article__under {
    height: 8rem;
    position: relative;
    top: -4rem;
    margin-bottom: -4rem;
    width: 100%;
    z-index: 50; }
    @media (max-width: 72rem) {
      .article__under {
        display: block;
        top: 0;
        position: relative;
        height: auto;
        margin-top: 0;
        margin-bottom: 0; } }
  .article__banner {
    height: 8rem;
    width: auto;
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex; }
    @media (max-width: 48rem) {
      .article__banner {
        display: flex;
        top: 0;
        position: relative;
        height: auto;
        flex-wrap: wrap; } }
    @media (max-width: 48rem) {
      .article__banner.wrap {
        margin: 0; } }
    .article__banner__item {
      width: 25%;
      height: 8rem; }
      @media (max-width: 48rem) {
        .article__banner__item {
          width: 50%;
          padding: 2rem 0;
          height: auto; } }
      .article__banner__item:nth-child(2), .article__banner__item:nth-child(3) {
        background: #fafafa; }
      .article__banner__item__icon,
      .article__banner__item img {
        display: block;
        width: 2em;
        height: 2em;
        margin: 1rem auto 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center; }
      .article__banner__item p {
        color: #547A98;
        text-align: center;
        margin-top: 1rem; }
        .article__banner__item p span {
          display: block;
          color: #878A8F;
          text-align: center; }

.description__image {
  display: block;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 14rem;
  margin: 2em auto; }

.readmore {
  display: block;
  color: #547A98;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2em 0 2em auto;
  text-align: right; }
  .readmore:after {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    background-position: center center;
    background-image: url("images/chevron-right.svg");
    background-size: contain;
    background-repeat: no-repeat; }

.circle {
  background-color: #EAF0F3;
  background-position: center center;
  background-size: auto 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 10em;
  margin: 2em auto; }
  .circle:after {
    padding-top: 100%;
    content: "";
    display: block; }
  .circle + h3 {
    text-align: center; }

.button {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #587D9B;
  text-align: center;
  color: #547A98;
  font-weight: bold;
  position: relative;
  transition: 0.25s ease-in-out all;
  top: 0;
  cursor: pointer;
  margin-top: 2rem; }
  .button:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    top: -5px; }

.designer.padded {
  padding: 2rem 0 4rem; }
  @media (max-width: 48rem) {
    .designer.padded {
      padding: 0 0 2rem; } }

.designer__row {
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap; }
  .designer__row.padded {
    padding: 2rem 0 0; }
    @media (max-width: 72rem) {
      .designer__row.padded {
        padding: 0 2rem; } }
  .designer__row.lessMargin {
    margin: 1rem; }
  .designer__row.noMargin {
    margin: 0; }
  @media (max-width: 72rem) {
    .designer__row.noChange .designer__column {
      flex: 1 1 auto !important;
      margin: 2rem auto 0; } }
  .designer__row__m2 .designer__column {
    width: 50%;
    flex: 1 1 50%; }
  .designer__row__m3 .designer__column {
    width: calc(100% / 3);
    flex: 1 1 calc(100% / 3); }
    @media (max-width: 72rem) {
      .designer__row__m3 .designer__column {
        flex: 1 1 calc(100%); } }
  .designer__row__m4 .designer__column {
    width: 25%;
    flex: 1 1 25%; }
    @media (max-width: 72rem) {
      .designer__row__m4 .designer__column {
        flex: 1 1 calc(100%); } }
  .designer__row__m5 .designer__column {
    width: 20%;
    flex: 1 1 20%; }
    @media (max-width: 72rem) {
      .designer__row__m5 .designer__column {
        flex: 1 1 calc(100%); } }

.designer__column {
  display: block;
  width: auto;
  border-top: 4px solid transparent;
  flex: 1 1 auto;
  transition: 0.25s ease-in-out;
  text-decoration: none;
  margin-bottom: 9; }
  @media (max-width: 72rem) {
    .designer__column {
      flex: 1 1 calc(80%);
      margin: 0 auto 3rem;
      padding: 0 2rem; } }
  @media (max-width: 48rem) {
    .designer__column {
      margin-bottom: 2rem; } }
  .designer__column.heading {
    padding-bottom: 6rem; }
    @media (max-width: 72rem) {
      .designer__column.heading {
        padding-bottom: 2rem; } }
  .designer__column img {
    transition: 0.25s ease-in-out; }
  .designer__column .meta {
    padding: 2em 0;
    max-width: 80%;
    margin: 0 auto; }
    @media (max-width: 72rem) {
      .designer__column .meta {
        max-width: 100%;
        padding: 0 0 2rem; } }
    .designer__column .meta img {
      transition: 0.5 ease-in-out; }
    .designer__column .meta .price {
      line-height: 2.5rem; }
    .designer__column .meta h4 + h3 {
      color: #49535B; }
  .designer__column.hoverable:hover {
    cursor: pointer;
    border-top: 4px solid #547A98;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    z-index: 10; }
    .designer__column.hoverable:hover img {
      transform: scale(1.1); }
    .designer__column.hoverable:hover .cart__add {
      display: block;
      width: 8rem;
      background: #547A98; }
      .designer__column.hoverable:hover .cart__add span {
        opacity: 1;
        text-align: center;
        width: 100%; }
  .designer__column.active {
    border-top: 4px solid #547A98;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25); }
  .designer__column.activatable {
    background: #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer; }
    .designer__column.activatable:hover {
      border-top: 4px solid #547A98;
      background: #FFFFFF;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
      z-index: 10; }
      .designer__column.activatable:hover img {
        transform: scale(1.1); }
      .designer__column.activatable:hover .cart__add {
        display: block;
        width: 8rem;
        background: #547A98; }
        .designer__column.activatable:hover .cart__add span {
          opacity: 1;
          text-align: center;
          width: 100%; }

h1.big {
  color: #03182A; }

@media (max-width: 72rem) {
  h1 {
    font-size: 3em;
    line-height: 1; } }

h2 {
  color: #03182A; }
  h2.big {
    font-size: 2rem; }
    @media (max-width: 48rem) {
      h2.big {
        font-size: 1.25rem; } }

h3 {
  color: #547A98; }

p {
  color: inherit; }
  p.big {
    line-height: 1.5rem;
    font-size: 1.25rem;
    margin: 1.5rem auto 0;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 48rem) {
      p.big {
        font-size: 1rem; } }
  p img {
    display: block;
    width: 100%;
    height: auto; }

.newsletter {
  font-size: 16px;
  background: #03182A;
  padding: 2em 0;
  color: #fff; }
  .newsletter input[type="email"] {
    height: 40px;
    display: inline-block;
    border: 0;
    border-radius: 20px;
    width: calc(100% - 7.25rem);
    float: left;
    text-transform: uppercase;
    padding-left: 1em;
    background-color: #FFFFFF; }
    @media (max-width: 72rem) {
      .newsletter input[type="email"] {
        float: left;
        max-width: 20em;
        display: block;
        margin-right: 1em; } }
  .newsletter input[type="submit"] {
    height: 40px;
    display: inline-block;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 1rem;
    text-transform: uppercase;
    width: 100px;
    background-color: #FFFFFF;
    font-size: 0.8rem;
    margin-top: 0;
    margin-left: 1em;
    padding: 0; }
    @media (max-width: 72rem) {
      .newsletter input[type="submit"] {
        margin-left: 0;
        float: none;
        margin-top: 0;
        display: block; } }
  .newsletter form {
    margin: 0; }
  .newsletter ul {
    display: flex;
    padding: 0;
    margin-top: 0.5em; }
    .newsletter ul li {
      display: block;
      margin-right: 1em;
      white-space: nowrap; }
  .newsletter label {
    color: #FFFFFF;
    font-weight: bold; }
  .newsletter__close {
    height: 2em;
    cursor: pointer;
    text-align: right;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0;
    margin-right: 2rem; }
  .newsletter__wrap {
    margin: 0 auto;
    width: 100%;
    display: flex;
    padding-left: 0 !important;
    padding-right: 0 !important; }
    @media (max-width: 72rem) {
      .newsletter__wrap {
        flex-direction: column;
        width: calc(100% - 4rem);
        margin: 0 2rem;
        max-width: 100%; } }
    .newsletter__wrap__item {
      width: 40%;
      margin-bottom: 2em; }
      @media (max-width: 72rem) {
        .newsletter__wrap__item {
          width: 100%; } }
      .newsletter__wrap__item p {
        font-size: 0.9em;
        margin-right: 2em;
        max-width: 30em;
        line-height: 24px;
        font-size: 14px; }
        @media (max-width: 72rem) {
          .newsletter__wrap__item p {
            margin-right: 0;
            max-width: 100%; } }
      .newsletter__wrap__item h4 {
        color: #fff;
        line-height: 24px;
        font-size: 14px;
        margin-top: 0;
        text-transform: uppercase;
        color: #fff; }
      .newsletter__wrap__item.input {
        width: 60%; }
        @media (max-width: 72rem) {
          .newsletter__wrap__item.input {
            margin-bottom: 0;
            width: 100%; } }
  .newsletter .form__wrap {
    margin-top: 1rem; }

.footer {
  margin-bottom: 0;
  padding: 3em 0 1em;
  background-color: #F9F9F9; }
  .footer__bottom {
    background: #03182A;
    padding: 4em 0;
    color: #fff; }
    @media (max-width: 72rem) {
      .footer__bottom__col {
        margin-bottom: 2rem; } }
    .footer__bottom .infusion-field-input {
      line-height: 2rem;
      padding: 0 1rem;
      background-color: #fff; }
    .footer__bottom form {
      margin-top: 1em !important; }
    .footer__bottom h4 {
      color: #fff;
      margin-top: 0;
      font-size: 1.1rem; }
    .footer__bottom p {
      margin-top: 1rem;
      color: #fff; }
    .footer__bottom .infusion-field-input {
      display: block;
      border: 0;
      font-size: 1rem;
      line-height: 3rem;
      padding: 0 1rem;
      background-color: #fff;
      margin-bottom: 1rem;
      margin-top: 0.25rem; }
    .footer__bottom .infusion-recaptcha {
      color: #fff !important;
      display: block;
      position: relative;
      top: -1rem;
      border: 0;
      width: 7rem;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 2.5rem;
      font-size: 1rem;
      border-radius: 0.5rem;
      background-color: #547A98 !important; }
    .footer__bottom .col-full {
      display: flex;
      margin: 0 auto;
      justify-content: space-between; }
      @media (max-width: 72rem) {
        .footer__bottom .col-full {
          display: block; } }
  .footer__logo {
    margin: 0 auto;
    text-align: center;
    display: block;
    max-width: 14em; }
  .footer__list {
    margin-top: 4rem;
    margin-bottom: 0; }
    @media (max-width: 72rem) {
      .footer__list {
        padding: 0 2rem; } }
  .footer ul {
    display: flex;
    margin: 1em 0;
    padding-left: 0;
    flex-grow: 1;
    justify-content: space-between; }
    @media (max-width: 48rem) {
      .footer ul {
        display: block; } }
    .footer ul li {
      margin-bottom: 1em;
      width: 100%;
      list-style-type: none; }
      .footer ul li a {
        font-size: 1.5rem;
        font-size: 20px;
        color: #547A98;
        font-weight: bold;
        text-decoration: none !important; }
      .footer ul li ul {
        display: block;
        margin-left: 0;
        padding-left: 0; }
        .footer ul li ul li {
          width: 100%;
          margin-bottom: 0; }
          .footer ul li ul li a {
            font-size: 1rem;
            color: #2a2b2d;
            font-weight: normal; }

.cart__add {
  transition: 0.5s all;
  display: block;
  float: right;
  background-color: #fff;
  background-image: url("images/cart.svg");
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #547A98;
  border-radius: 1.25em;
  color: #fff;
  font-size: 1rem;
  vertical-align: baseline;
  width: 2.5rem;
  line-height: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  position: relative; }
  .cart__add span {
    display: block;
    padding: 0 1em;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.5s all;
    white-space: nowrap;
    font-weight: bold;
    opacity: 0;
    line-height: 2.25rem; }
  .cart__add:hover {
    display: block;
    width: auto;
    width: 10rem;
    background: #547A98;
    text-align: center; }
    .cart__add:hover span {
      opacity: 1;
      text-align: center; }

.identity {
  padding-top: 1rem;
  opacity: 0.8; }
  .identity span {
    font-size: 0.8rem;
    margin-right: 1rem; }
    .identity span:before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 0.5rem;
      vertical-align: middle; }
  .identity .person:before {
    background-image: url("images/identity.svg"); }
  .identity .calendar:before {
    background-image: url("images/calendar.svg"); }

.social {
  display: flex;
  margin-top: 2rem; }
  .social__item {
    width: 3rem;
    margin-right: 2em;
    height: 3rem;
    transition: 0.5s all;
    background-image: url("images/facebook.svg");
    background-repeat: no-repeat;
    background-size: contain; }
    .social__item.tw {
      background-image: url("images/twitter.svg"); }
    .social__item.in {
      background-image: url("images/instagram.svg"); }
    .social__item:hover {
      opacity: 0.8; }

.images {
  display: flex;
  margin: 2rem; }
  .images__item {
    margin: 0 1rem;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25); }
    .images__item.play:before {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      background-position: center center;
      background-size: 1rem;
      background-repeat: no-repeat;
      background-image: url("images/play.svg");
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid RGBA(0, 23, 37, 1);
      content: ""; }
    .images__item img {
      width: auto;
      height: 4rem; }

.circle {
  background-color: #EAF0F3;
  background-position: center center;
  background-size: auto 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 10em;
  margin: 2em auto; }
  .circle.cover {
    background-size: cover; }
  .circle:after {
    padding-top: 100%;
    content: "";
    display: block; }
  .circle + h3 {
    text-align: center; }

.productPage {
  background: #fff;
  padding: 6rem 0 2rem; }
  @media (max-width: 72rem) {
    .productPage {
      padding: 4rem 2rem 2rem; } }
  .productPage h1 {
    margin-top: 0;
    color: #03182A; }
    @media (max-width: 72rem) {
      .productPage h1 {
        font-size: 4rem; } }
    @media (max-width: 48rem) {
      .productPage h1 {
        font-size: 2.5rem;
        line-height: 3rem; } }
  .productPage h3 {
    color: #2a2b2d; }
  .productPage__meta {
    display: flex;
    margin-top: 2rem; }
    @media (max-width: 48rem) {
      .productPage__meta {
        display: block; } }
  .productPage__data {
    width: 25rem;
    display: none; }
    .productPage__data h3 {
      font-size: 1.25rem; }
    .productPage__data p {
      margin-top: 0.5rem;
      border-bottom: 1px solid #d1d4d6;
      padding-bottom: 1rem; }
  .productPage__image {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    display: block; }
    @media (max-width: 48rem) {
      .productPage__image {
        width: auto; } }
    .productPage__image__wrap {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      align-content: center;
      top: 10rem;
      left: 0;
      margin-top: 2rem;
      position: sticky;
      flex-direction: column;
      align-items: center; }
      @media (max-width: 72rem) {
        .productPage__image__wrap {
          height: 42rem; } }
      @media (max-width: 48rem) {
        .productPage__image__wrap {
          height: auto;
          margin-top: 2rem;
          margin-bottom: 2rem;
          position: relative;
          top: 0; } }
      .productPage__image__wrap > img {
        display: block;
        position: sticky;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        height: 30rem; }
      .productPage__image__wrap h3 {
        margin-top: 2rem;
        font-size: 2rem; }
  .productPage__desc {
    font-size: 1.25rem; }
    @media (max-width: 48rem) {
      .productPage__desc {
        font-size: 1rem; } }
    .productPage__desc h3,
    .productPage__desc p,
    .productPage__desc ul,
    .productPage__desc ul li {
      font-size: inherit;
      line-height: inherit; }

.variations {
  margin-top: 1rem; }
  .variations select {
    display: none; }
  .variations__radios {
    margin: 0;
    text-align: center;
    border-spacing: 0.25em;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: flex-start; }
    .variations__radios label {
      background-color: #fff;
      color: #567a96;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      text-align: center;
      line-height: 1em;
      height: 5.5em;
      min-width: 5.5em;
      max-width: 5.5em;
      padding: 0;
      margin-right: 1rem;
      cursor: pointer;
      text-align: center;
      border-radius: 5.5em;
      border: 2px solid #567a96;
      font-weight: 700;
      font-size: 1rem;
      white-space: wrap;
      margin-bottom: 1em !important; }
    .variations__radios input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden; }
      .variations__radios input:checked + label {
        background-color: #567a96;
        color: #fff;
        border: 2px solid #567a96; }
      .variations__radios input li {
        display: -webkit-box;
        display: flex;
        margin-bottom: 1.5em;
        overflow: hidden;
        cursor: pointer; }
      .variations__radios input label {
        background-color: #ecf0f3;
        color: #1b2833;
        font-size: 1rem;
        line-height: 1;
        text-align: center;
        padding: 0.75em;
        margin-right: -1px;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        border-radius: 0.25em;
        cursor: pointer;
        margin: 0 !important; }
  .variations ul.wcsatt-options {
    display: block;
    clear: both; }
  .variations ul.wcsatt-options-product {
    margin: 0;
    text-align: center; }
    .variations ul.wcsatt-options-product li {
      display: -webkit-box;
      display: flex;
      margin-bottom: 1em;
      overflow: hidden;
      cursor: pointer; }
    .variations ul.wcsatt-options-product label input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      display: none;
      overflow: hidden; }
      .variations ul.wcsatt-options-product label input + .one-time-option-details,
      .variations ul.wcsatt-options-product label input + .subscription-option-details {
        line-height: 45px;
        padding: 0 1em;
        background: #fff;
        display: block;
        border: 2px solid #ccc; }
      .variations ul.wcsatt-options-product label input:checked + .one-time-option-details,
      .variations ul.wcsatt-options-product label input:checked + .subscription-option-details {
        background-color: #567a96;
        color: #fff;
        display: block;
        width: 100%;
        border: 2px solid #567a96; }
    .variations ul.wcsatt-options-product.one-time-option, .variations ul.wcsatt-options-product.subscription-option {
      padding: 0;
      display: block;
      margin: 0 !important; }
    .variations ul.wcsatt-options-product.one-time-option label .one-time-option-details,
    .variations ul.wcsatt-options-product.one-time-option label .subscription-option-details .price.subscription-price {
      padding: 0.85rem;
      display: block;
      margin: 0 !important;
      float: left; }
    .variations ul.wcsatt-options-product.subscription-option label .one-time-option-details,
    .variations ul.wcsatt-options-product.subscription-option label .subscription-option-details .price.subscription-price {
      padding: 0.85rem;
      display: block;
      margin: 0 !important;
      float: left; }

.quantity {
  display: flex;
  margin-top: 1rem;
  border: 2px solid #547A98;
  width: 18rem;
  margin-bottom: 2rem; }
  .quantity button {
    display: block;
    background: #547A98;
    padding: 1rem;
    border: 0;
    line-height: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    width: 4rem;
    color: #fff; }
  .quantity input {
    line-height: 2rem;
    font-size: 1.25rem;
    background: #F9F9F9;
    border: 0;
    text-align: center;
    width: 10rem; }

.recommend {
  background: #F9F9F9; }
  .recommend__wrap {
    padding: 4rem 0; }
    @media (max-width: 72rem) {
      .recommend__wrap {
        padding: 2rem 2rem 0; } }
